@import '/src/shared/globals.scss';

.home-content {

  @extend .page-content;

  background: linear-gradient(to left, #3ddbff, #37456b);

  .welcome {
    margin: 10px 0 0 10px;
    font-size: 2rem;
    font-weight: 100;
    color: white;
  }

  .dashboard-container {
    padding: 10px;
  }

  .dashboard-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    @media(max-width: 1500px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media(max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
    
    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }
    
    gap: 1rem;
    width: 100%;
    
  }
}