@import '/src/shared/styles/globals.scss';

.component {
    border-radius: 20px;
    background: $thistle;
    padding: 10px;

    box-shadow: 2px 2px 2px $prussian-blue,
                -2px 0px 2px $prussian-blue;

    transition: .3s;

    .chart {
        width: 200px;
        height: 200px;
    }

    &:hover {
        transform: scale(1.01);

        box-shadow: 3px 3px 3px $prussian-blue,
                    -3px 0px 3px $prussian-blue;
    }
}