.component {
    border-radius: 20px;
    background: white;
    padding: 10px;

    border: 1px solid black;

    .chart {
        width: 200px;
        height: 200px;

        background: aqua;
    }
}